<ul>
  <h3>Followers</h3>
  <% facade.followers.each do |github_user| %>
    <li id='follower-<%= github_user.uid %>'>
      <a href='<%= github_user.path %>'><%= github_user.name %></a>
      <% if User.find_by(uid: github_user.uid) && !facade.friends.any? {|friend| friend.uid == github_user.uid} %>
        <%=  button_to "Add Friend", create_friend_path(uid: github_user.uid) %>
      <% end %>
    </li>
  <% end %>
</ul>
<ul>
  <h3>Following</h3>
  <% facade.following.each do |github_user| %>
    <li><a href='<%= github_user.path %>'><%= github_user.name %></a></li>
  <% end %>
</ul>
