<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> <%= "not activated" if !current_user.activated %> </li>
  </ul>

  <section>
    <h1>Bookmarked Segments</h1>
      <ul>
        <% current_user.ordered_tutorials.each do |tutorial| %>
          <li>
            <%= tutorial.title %>
              <ul>
                <% tutorial.videos.each do |video| %>
                  <li><%= video.title %></li>
                <% end %>
              </ul>
          </li>
        <% end %>
      </ul>
  </section>

  <section>
    <h1>Friends</h1>
    <ul>
      <% facade.friends.each do |friend| %>
        <li><%= friend.first_name %></li>
      <% end %>
    </ul>
  </section>
  <% if facade.is_auth? %>
    <%= render partial: 'partials/github/repos', locals: {facade: facade} %>
    <%= render partial: 'partials/github/relationships', locals: {facade: facade} %>
  <% else %>
    <%= button_to 'Connect to GitHub', github_login_path, class: 'btn btn-primary mb1 bg-teal' %>
  <% end %>
  <section>
    <h1>Invite Someone!</h1>
    <%= form_tag '/invite' do %>
      <%= label_tag 'handle', 'Enter a Github Handle' %>
      <%= text_field_tag 'handle' %>

      <%= submit_tag 'Send Invite' %>
    <% end %>
  </section>
</section>
